<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bearya.sdk.bluetooth" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <service android:name="com.bearya.sdk.bluetooth.v2.BluetoothMonitorService"
            android:enabled="true"
            android:exported="true"
            android:process=":bluetooth"
            tools:ignore="ExportedService" />
    </application>
</manifest>
